.listingPanel{
  width: 80vw ;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  
}
.listingPanel h1, .listingPanel h2{
    margin: 0;
    padding: 0;
    margin-top: 0.5rem;
    margin-left: 1rem;
}
.listingPanel h1{
   color: black;
   text-transform: capitalize;
   text-align: left;
   border-left: 5px solid rgb(211, 211, 35);
   font-weight:400;
    padding-left: 7px;

}
.listingPanel h2{
   color: black;
   text-align: left;
   margin-top: 4rem;
   font-weight:bold;
}
.listingPanel p{
    color:dimgray;
    text-align: left;
    margin-top: 0.6rem;
    margin-left: 1rem;
}
.sorting select{
    color:rgb(46, 112, 246);
    font-size:17px;
    border: none;
    margin-left: 1rem; 
}
.sorting button{
    font-size:17px;
    border-radius: 50%;
    margin-left: 1rem; 
}
.sorting button:hover{
    background-color: rgb(173, 210, 255);
}
.sorting label{
    color: black;
    margin-left: 1rem;
}
.sorting {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end; 
    gap: 10px;
}
