.movielist {
  border: 1px solid #555;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
img {
  height: 125px;
  width: 80px;
  border-radius: 0 10% 10%;
}
.movielist ul {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 1rem;
}
li {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #555;
  gap: 10px;
}
.movie {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
}
.movieDiscription {
  flex : 1;
  display: flex;
  flex-direction: column;
  justify-content:center ;
  padding-left: 10px;
  gap: 0;
}
.movieDiscription h3 {
  color: black;
  margin: 0;
  font-size: 18px;
  line-height: 1.2;
  text-align: left;
}
.movieDiscription p {
  color:#555;
  margin: 3px 0;
  font-size: 14px;
}
.movieDiscription,
.movieDiscription h3,
.movieDiscription p{
  box-sizing: border-box;
  overflow: break-word;
}
#movieDetailsDialog {
  width:45%;
  max-width: 90vw;
  height: 55%;
  max-height: 80vh;
  box-sizing: border-box; 
  border: none;
  border-radius: 10px;
  background-color: rgb(29, 28, 28);
  padding: 20px;
  animation: pop-in 0.3s;
  overflow : visible;
}
dialog::backdrop {
    background: rgba(0, 0, 0, 0.6); 
}
.movieDiscription-buttons{
  display: flex;
  flex-direction: row;
  gap:8px
}

#RatingDialog{
  width:45%;
  max-width: 90vw;
  display: flex;
  box-sizing: border-box; 
  border: none;
  border-radius: 10px;
  background-color: rgb(29, 28, 28);
  padding: 20px;
  overflow : visible;
}